* {
    margin: 0;
    padding: 0;
   }
 
   body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: 5px solid black; */
    padding: 100px;
   }
 
   .result {
    flex-basis: 15%;
    background-color: #ddd;
   }
 
   .panel {
    flex-grow: 1;
    background-color: cadetblue;
   }
 
   .panel {
    display: flex;
    flex-wrap: wrap;
   }
 
   .panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 30%;
    border: 3px solid white;
    font-family: arial;
    font-size: 50px;
    box-sizing: border-box;
   }