* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
   color:white;
   font-family: 'Courier New', Courier, monospace;
   text-transform: uppercase;
   font-size: 40px;

}

nav {
    background-color: black;
   height: 10vh;
   z-index: 1;
   line-height: 10vh;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
}

header {
    height: 90vh;
    background-color: brown;
    line-height: 90vh;
    position: fixed;
    width: 100%;
    top: 10%;
    left: 0;
    z-index: -1;

}

main {
    position: relative;
    height: 200vh;
    background-image: linear-gradient(145deg, green, fuchsia 50%, blue 70%, yellow 100%);
    line-height: 200vh;
    margin-top: 100vh;
    
}